.bg-div{
    background-image: url('https://i.ibb.co/wWKbKTP/developer-5-star-profile-review-flat-design-vector.jpg');
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
}